<div class="flex flex-col gap-4 justify-center items-center w-full h-max">
<h1 class="text-sky-600/80 font-bold text-3xl"> BudgetX</h1>
<%= image_tag ('bitcoin.jpg'), class:"w-96 h-84" %>
<div class="flex gap-8 mt-8">
<%= link_to "Log in", new_user_session_path,  class: "bg-sky-600/80 p-2 border border-cyan-300  rounded  " %>
<%= link_to "Sign up", new_user_registration_path ,  class: "bg-sky-600/80 p-2 border border-cyan-300  rounded  "%>
<%= link_to "Categories", categories_path ,  class: "bg-sky-600/80 p-2 border border-cyan-300  rounded  "%>
</div>
</div>