<nav class="flex flex-col">
    <ul class="flex gap-4 items-center">
      <% if current_user %>
        <li>Signed in as <%= current_user.name%><span class="font-bold">,</span></li>
        <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'hover:opacity-60'  %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path, class: 'hover:opacity-30' %></li>
        <li><%= link_to "Sign up", new_user_registration_path, class: 'hover:opacity-60' %></li>
      <% end %>
    </ul>
  </nav>